.App {
  text-align: center;
}

* {
  font-family: "Inter";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #0871ed;
  cursor: pointer;
}

.gray-text {
  color: #acacac;
}

.d-flex,
.flex {
  display: flex;
}

.dir-row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.position-relative {
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.mt-8 {
  margin-top: 8rem !important;
}

.mb-1 {
  margin-bottom: 1rem;
}

a.link {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #222222;
  text-decoration: none;
  cursor: pointer;
}

.sidebar {
  background-color: #093fe1;
  color: #fff;
  height: 100vh;

  .content-box {
    padding: 35px 35px 0;
  }

  .logo {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.02em;
    text-align: left;
  }
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

.text {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
}

p {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}

.signup-form {
  max-width: 385px;
  width: 100%;
  margin: auto;
}

button.MuiButton-containedPrimary {
  background-color: #279af1;
  padding: 12px 14px;
  font-size: 14px;
  font-weight: 600;
  min-width: 113px;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: capitalize;
  font-family: "Inter";
}

.MuiInputBase-root {
  height: max-content;
  padding: 8px 11px 8px 11px;
  border-radius: 6px !important;
  margin: 5px 0 8px;
}

.MuiOutlinedInput-notchedOutline {
  border: 1px solid #cdd1dc;
}

fieldset legend span {
  font-size: 13px;
  color: #8f9bb3;
  line-height: 13px;
  margin-top: 0;
}

.signup-form .MuiFormLabel-root {
  font-size: 14px;
  font-weight: 600;
  color: #222b45;
  line-height: 17px;
  margin-top: 0;
}

.signup-form .MuiFormControl-root,
input.MuiInputBase-input {
  margin-bottom: 0px;
  margin-top: 0 !important;
  padding: 0 !important;
  font-size: 14px;
  color: #8f9bb3;
  font-weight: 400;
}

.MuiFormLabel-root {
  color: #222222;
}

.MuiStack-root {
  max-width: 562px;
  min-width: 562px;
  padding: 20px;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;

  .MuiAlert-icon {
    color: #222222 !important;
  }

  .MuiAlert-message {
    color: #222222;
    font-size: 16px;

    p {
      font-size: 14px;
      color: #686868;
      width: 75%;
      padding-right: 15px;
    }

    button.MuiButton-containedPrimary {
      font-size: 13px;
    }
  }
}

input[type="file"].custom {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

.w-12 {
  width: 3rem;
}

.items-center {
  align-items: center;
}

.h-12 {
  height: 3rem;
}

.rounded-full {
  border-radius: 9999px;
}

.bg-gray-100 {
  width: 72px;
  height: 72px;
  background-color: #d9d9d9;
}

.object-cover {
  object-fit: cover;
}

.shadow-sm {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.ml-5 {
  margin-left: 0.6rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.duration-150 {
  transition-duration: 150ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.transition {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
}

.text-gray-700 {
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
}

.overflow-hidden {
  overflow: hidden;
}

.remove-button {
  background-color: transparent;
  border: 0;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #8b8b8b;
  text-align: left;
  margin-left: 5px;
  cursor: pointer;
}

.org-logo {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  display: block;
  margin-bottom: 8px;
}

.upload-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: -0.02em;
  text-align: left;
  padding: 5px;
  // display: inline-block;
  color: #595959;
  box-shadow: 1px 4px 4px 0px #dfdfdf;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  cursor: pointer;
}

.upload-info {
  color: #8c8c8c;
  display: inline-block;
  margin: 1px 0 10px 84px;
  font-size: 12px;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.error {
  color: red !important;
  font-size: 12px;
  padding-bottom: 7px;
  display: block;
}

.astrick {
  color: red;
  font-weight: 100;
}

.fit-image {
  max-width: 100%;
  /* Set the maximum width to 100% of the container width */
  max-height: 100%;
  /* Set the maximum height to 100% of the container height */
  width: auto;
  /* Allow the width to adjust proportionally based on the height */
  height: auto;
  /* Allow the height to adjust proportionally based on the width */
}

.image-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiPaper-root.MuiPaper-elevation {
  background-color: #f5faff;
}

.mw-100p {
  max-width: 100%;
}

.mw-600 {
  max-width: 600px;
}

.mw-385 {
  max-width: 385px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-250 {
  margin-bottom: 250px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #279af1;
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid #8f9bb3;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;

  &::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: #279af1;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &:checked::before {
    transform: scale(1);
  }

  // &:focus {
  //   outline: max(2px, 0.15em) solid #279af1;
  //   outline-offset: max(2px, 0.15em);
  // }
}

.upper-text {
  position: absolute;
  top: 4.2rem;
  right: 3.2rem;

  color: #222;
  text-align: right;
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.28px;
}

.blue-text {
  color: #279af1;
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.28px;
}

.cursor-pointer {
  cursor: pointer;
}

//  css to remove placeholde of  input type date
// input[type=date]::-webkit-datetime-edit-text {
//     -webkit-appearance: none;
//     display: none;
// }
// input[type=date]::-webkit-datetime-edit-month-field{
//     -webkit-appearance: none;
//     display: none;
// }
// input[type=date]::-webkit-datetime-edit-day-field {
//     -webkit-appearance: none;
//     display: none;
// }
// input[type=date]::-webkit-datetime-edit-year-field {
//     -webkit-appearance: none;
//     display: none;
// }
.ReactTags__tags {
  width: 100%;
  box-sizing: border-box;
}

.ReactTags__tagInput {
  width: 100%;
  border-radius: 6px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}

.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 1rem;
  color: #222b45;
  background: #fff;
  box-sizing: border-box;
  outline: #dcdcdc;
  margin-top: 8px;
}

.ReactTags__selected span.ReactTags__tag {
  // border: 1px solid #ddd;
  color: #0d7d0b;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  display: inline-block;
  padding: 2px 1.2rem;
  margin: 0px 5px 5px 5px;

  border-radius: 100px;
  background: #c8ffc7;
}

.ReactTags__selected a.ReactTags__remove {
  color: #0d7d0b;
  fill: #0d7d0b;
  margin-left: 5px;
  cursor: pointer;
}

.ReactTags__suggestions {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  top: 3.9rem;
  padding: 0px;
}

.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  // width: 100%;
  padding: 0px;
}

.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6rem;
  // margin-left: -20px;
}

.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #279af1;
  color: #fff;
  cursor: pointer;
}

.ReactTags__remove {
  border: none;
  background: none;
  color: #0d7d0b;
  fill: #0d7d0b;
  margin-left: 5px;
  cursor: pointer;
  padding-right: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  overflow: auto;
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.MuiPaper-root.MuiPaper-elevation {
  background-color: #fff;
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.css-106c1u2-MuiBadge-badge {
  min-width: 1.2rem !important;
  width: 1.2rem !important;
  height: 1.2rem !important;
  background-color: #279af1 !important;
  border-radius: 50% !important;
  padding: 0 !important;
  font-size: 8px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  top: 2px !important;
  right: 3px !important;
}
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}
.css-cgl6zv-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6rem;
  width: 100%;
  box-sizing: border-box;
  // border: 1px solid #dcdcdc;
  // border-radius: 8px;
  padding: 1em 0.5em !important;
  // margin-bottom: 10px;
  color: #222b45;
  background: #fff;
  box-sizing: border-box;
  outline: #dcdcdc;
}
.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
  border-radius: 6px !important;
  background: #e9e9ee !important;
  // padding: 10px 19.5px !important;
  color: #222b45 !important;
  text-align: center !important;
  font-family: Inter !important;
  font-size: 1.2rem !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
}
.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  border-radius: 6px !important;
  background: #fff !important;
  color: #279af1 !important;
}
.toast {
  color: #313545;
  font-family: Inter !important;
  font-size: 1.6rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 2.4rem;
  padding: 2rem 2rem 2rem 2.6rem;
  border-radius: 6px;
  // width: 40rem;
  box-shadow: 0px 10px 30px 3px rgba(5, 16, 55, 0.15),
    6px 0px 0px 0px #2bc128 inset;
    box-sizing: border-box;
}
.css-cgl6zv-MuiAutocomplete-root .MuiAutocomplete-tag {
  border-radius: 10rem;
background: #C8FFC7;
padding: 2px 1.2rem;
color:  #0D7D0B;
text-align: center;
font-size: 1.4rem;
font-style: normal;
font-weight: 400;
line-height: 2.4rem;
}
.css-1q60rmi-MuiAutocomplete-endAdornment {
   
    right: 15px !important;
    top: 32% !important; 
}
