.App {
  text-align: center;
}

* {
  font-family: 'Inter';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0871ED;
}

.gray-text {
  color: #ACACAC;
}

.d-flex,
.flex {
  display: flex;
}

.dir-row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.position-relative {
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.mt-8 {
  margin-top: 8rem !important;
}

.mb-1 {
  margin-bottom: 1rem;
}

a.link {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #222222;
  text-decoration: none;
}

.sidebar {
  background-color: #093FE1;
  color: #fff;
  height: 100vh;

  .content-box {
    padding: 35px 35px 0;
  }



  .logo {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.02em;
    text-align: left;

  }
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: left;

}

h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;

}

h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;

}

h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;

}

.text {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;

}

p {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;

}

.signup-form {
  max-width: 385px;
  width: 100%;
  margin: auto;
}

button.MuiButton-containedPrimary {
  background-color: #279AF1;
  padding: 12px 14px;
  font-size: 14px;
  font-weight: 600;
  min-width: 113px;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Inter';

}

.MuiInputBase-root {
  height: 40px;
  padding: 8px 11px 8px 11px;
  border-radius: 6px !important;
  margin: 5px 0 8px;
  ;
}

.MuiOutlinedInput-notchedOutline {
  border: 1px solid #CDD1DC;
}

fieldset legend span {
  font-size: 13px;
  color: #8F9BB3;
  line-height: 13px;
  margin-top: 0;
}

.signup-form .MuiFormLabel-root {
  font-size: 14px;
  font-weight: 600;
  color: #222B45;
  line-height: 17px;
  margin-top: 0;
}


.signup-form .MuiFormControl-root,
input.MuiInputBase-input {
  margin-bottom: 0px;
  margin-top: 0 !important;
  padding: 0 !important;
  font-size: 14px;
  color: #8F9BB3;
  font-weight: 400;
}

.MuiFormLabel-root {
  color: #222222
}

.MuiStack-root {
  max-width: 562px;
  min-width: 562px;
  padding: 20px;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .MuiAlert-icon {
    color: #222222 !important;
  }


  .MuiAlert-message {
    color: #222222;
    font-size: 16px;

    p {
      font-size: 14px;
      color: #686868;
      width: 75%;
      padding-right: 15px;
    }

    button.MuiButton-containedPrimary {
      font-size: 13px;
    }
  }
}

input[type="file"].custom {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

.w-12 {
  width: 3rem;
}

.items-center {
  align-items: center;
}

.h-12 {
  height: 3rem;
}

.rounded-full {
  border-radius: 9999px;
}

.bg-gray-100 {
  width: 72px;
  height: 72px;
  background-color: #D9D9D9;
}

.object-cover {
  object-fit: cover;
}

.shadow-sm {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.ml-5 {
  margin-left: 0.6rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.duration-150 {
  transition-duration: 150ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.transition {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
}

.text-gray-700 {
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
}

.overflow-hidden {
  overflow: hidden;
}

.remove-button {
  background-color: transparent;
  border: 0;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #8B8B8B;
  text-align: left;
  margin-left: 5px;

}

.org-logo {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  display: block;
  margin-bottom: 8px;
}

.upload-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: -0.02em;
  text-align: left;
  padding: 5px;
  // display: inline-block;
  color: #595959;
  box-shadow: 1px 4px 4px 0px #DFDFDF;
  border-radius: 10px;
  border: 1px solid #dfdfdf;

}

.upload-info {
  color: #8C8C8C;
  display: inline-block;
  margin: 1px 0 10px 84px;
  font-size: 12px;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.error {
  color: red;
  font-size: 12px;
  padding-bottom: 7px;
  display: inline-block;
}

.astrick {
  color: red;
  font-weight: 100;
}

.fit-image {
  max-width: 100%;
  /* Set the maximum width to 100% of the container width */
  max-height: 100%;
  /* Set the maximum height to 100% of the container height */
  width: auto;
  /* Allow the width to adjust proportionally based on the height */
  height: auto;
  /* Allow the height to adjust proportionally based on the width */
}

.image-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiPaper-root.MuiPaper-elevation {
  background-color: #F5FAFF;
}