.vertical-timeline {
  width: 100%;
  max-width: 100%;
  margin: 0;
  position: relative;
  padding: 0em 0;
}
.vertical-timeline::before {
  width: 2px;
}


.vertical-timeline-element-content{
    margin-left: 30px;
    padding: 0px 10px;
}
